.widget_woothemes_testimonials {

	font-size: 0.813em;

	.quote {
//		blockquote {
//			}
			.author {
				margin-top: .25em;
			}	
		}

//		&.first {

//		}
//		&.last {
			
//		}
	margin-bottom: 1em;

}