//colors
$purple:		#050782;
$light-purple: 	#50519A;

$grey-one:		#f9f9f9;
$grey-two:		#f5f5f5;
$grey-three:	#f1f1f1;
$grey-four:		#eee;
$grey-five:		#e4e4e4;
$grey-six:		#ddd;
$grey-seven:	#999;
$grey-eight:	#666;
$grey-nine:		#333;
$grey-ten:		#222;